.miDivision{
    border:black solid 1px;
    background-color:black;
    width: 290px;
    height: 300px;
    margin: 0 auto;
    box-shadow: 10px 2px 10px rgba(0,0,0,.5);;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: block;
    padding: 40px; 
}

.inputText{
    border: black solid 1px;
    display: block;
    margin: 20px auto;
    font-family: 'Times New Roman', Times;
    font: small-caps 100%;
    border-radius: 35px 35px 35px 35px;
}
.inputButton{
    margin: 20px;
    color: whitesmoke;
    background-color: transparent;
    border: 2px solid whitesmoke;  
    border-radius: 50%;

}

.operacion{
    background-color: white;
    margin: 5px 20%;
    font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
    font-style: square;
    font-size: smaller;
    color:black;
    text-align: center;
    border-radius: 35px 35px 35px 35px;
    border: black solid 1px;    
    
 }
